/* iconos de redes sociales flotantes */

.c-redes{
    position: fixed;
    bottom: 74px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    z-index: 10;
}

.c-redes a{
    margin-top: 4px;
}

.c-redes img{
    width: 60px;
    padding: 4px;
    background: transparent;
    cursor: pointer;
    border-radius: 100%;
    transition: all 300ms;
    text-decoration: none;
}

.c-redes a:hover img{
    background: #33af3e;
    opacity: 0.8;
}

/* responsive  */

@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    header .textos-header h1{
        font-size: 30px;
    }

    header .textos-header h2{
        font-size: 30px;
    }

    header .textos-header h3{
        font-size: 70px;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    /* Galeria */

    .imagen-port{
        width: 44%;
    }

    /* Clientes */

    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /* servicios */

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
}

@media screen and (max-width:800px) {

    header nav a{
        margin-top: 10px;
        padding: 10px;
    }

}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    /* .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }*/

    header .textos-header{
        height: 250px;
    }

    header .textos-header h1{
        font-size: 30px;
    }

    header .textos-header h2{
        font-size: 20px;
    }

    header .textos-header h3{
        font-size: 60px;
    }


    /* ABOUT US */

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    /* Galeria */

    .imagen-port{
        width: 95%;
    }

    /* Clients */

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }

    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }

    .container-footer footer .redes-footer  {
    
       font-size: 15px;
    
    }

   
}

@media screen and (max-width:400px){

    header .textos-header{
        
        height: 230px;

    }

    header .textos-header h1{
        font-size: 20px;
    }

    header .textos-header h2{
        font-size: 20px;
    }

    header .textos-header h3{
        font-size: 60px;
    }


}

@media screen and (max-width:300px){

    header .textos-header{
        
        height: 250px;

    }
}